body{
	background-color: #eeeeee;
	font-family: Arial;
}
/*шапка*/
div.logo{
	width: 67px;
	height: 25px;
	background-image: url("product-common-sprite.png");
	background-repeat: no-repeat;
	display:inline-block;
	margin: 30px;
	margin-left: 50px;
}
.head{
	height: 70px;
}
h1{
	position: absolute;
	left: 180px;
	display: inline-block;
	width: 700px;
	margin-top: 24px;
	color: #297fb8;
	font-weight: normal; 
	font-family: "Segoe UI";
}
/*конец шапки*/
nav{
	display: inline-block;
	width: 150px;
	font-size: 14px;
	color: grey;
}
ul{
	display: inline-block;
	border: 1px solid #d2d2d2;
	border-radius: 7px;
	list-style-type: none;
	padding: 0px;
	width: 140px;
	margin-left: 15px;
	margin-bottom: 0px;
	background-color: white;
}
li{
	padding: 7px;
	padding-left: 10px;
}
li:hover {
	background-color: #A0EBD6;
}
.blue{/*синяя шапочку в меню*/
	padding-left: 5px;	
	padding-top: 5px;
	background-color: #297fb8;
	color: white;
	border-radius: 6px 6px 0px 0px;
}
li.blue:hover {
	background-color: #297fb8;
}
form{
	border-radius: 7px;
	background-color: white;
	box-shadow: 0 0 5px;
}
main{
	position: absolute;
	top: 80px;
	left: 200px;
	width: 700px;
	height: 700px;
}
p{
	color:#297fb8;
	padding: 20px;
	padding-bottom: 0px;
}
fieldset{
	width: 600px;
	margin: auto;
	border-color: #CC0000;
	border-radius: 10px;
	margin-top: 15px;
}
label{
	display: inline-block;
	width: 30%;
	line-height: 25px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.gender{
	width: 20%;
}
legend{/*первая надпись в форме*/
	color: #999999;
}
.textarea{
	width: 100%;
}
textarea{
	resize: none;
}
.pets{
	width: 72%;
}
.pets input{
	margin-left: 15px;
}
.color{
	display: inline-block;
	width: 90px;
	float:right;
	padding-right: 15px;
}
.button{
	margin-top: 10px;
	margin-left: 40px;
}
.button input{
	margin: 0px 15px 5px 5px;
	padding: 5px 10px 5px 10px;
	width: 80px;
	height: 30px;
	background-color: #297fb8;
	border: none;
	border-radius: 3px;
	color: white;
}

	
	