body{
	font-family: Arial;
	margin:0;
}
header{
	width: 800px;
	margin: auto;
}
form{
	float: right;
	width: 280px;
	margin-top: 10px;
}
.pass input{
	margin-bottom: 5px;
	height: 25px;
}
.pass{/*пароль + логин*/
	display: inline-block;
	width: 175px;
}
.vxod{
	display: inline-block;
	width: 100px;
	height: 68px;
	vertical-align: top;
	background: #0d6bc2;
	border: none;
	color: white;
}
img.line{width: 100%}/*зигзаг*/
main{
	width: 800px;
	margin: auto;
	margin-top: 20px;
}
main img{/*большая картинка сверху*/
	width: 800px;
	margin-bottom: 20px;
}

/*первая часть линии под фото*/
div.cost{
	display: inline-block;
	width: 400px;
	border-right: 1px solid grey;
}
hr{
	margin: 0px;
	padding: 0px;
	border: none;
	border-top: 1px solid grey;
}
a{
	font-size: 12px;
	text-decoration: none;
	border-bottom: 1px dashed;
}
a:visited {color: grey;}
.sort {/*сортировка*/
	color: blue;
	font-style: italic;
	white-space: pre;
}

/*вторая часть линии под фото*/
div.right{
	float: right;
	width: 370px;
}
.right p{display: inline-block;}
form.number{
	display: inline-block;
	margin-left: 10px;
	width: 180px;
}
.number .search{
	width: 70px;
	height: 25px;
	border: 1px solid blue;
}
.number .button{
	width: 100px;
	height: 25px;
	border: none;
	background: #0d6bc2;
	color: white;
}

/*повторяющиеся блоки*/
div.grid{
	display: inline-grid;
	grid: repeat(3, auto)/repeat(3,230px);
	grid-gap: 35px;
	width: 770px;
	margin: 20px 20px 0 20px;
}
.grid .img{
	display: inline-block;
	background:url(images/home.jpg);
	background-position: -15px -50px;
	background-size: 300px;
	width: 229px;
	height: 150px;
	border: none;
}
.grid div{border: 1px solid grey;}/*рамка вокруг каждого повтор. блока*/
.street{
	font-style: italic;
	font-size: 14px;
	vertical-align: top;
	padding-left: 10px;
}
p.blue{
	display: inline-block;
	position: relative;
	z-index: 2;
	float: right;
	font-size: 16px;
	top: -40px;
	background: #0d6bc2;
	padding: 6px;
	margin: 0;
	text-align: center;
	color: white;
}
p.text{
	text-align: justify;
	padding: 0 10px 10px 10px;
	font-size: 10px;
}

footer{
	margin-top: 50px;
	height: 150px;
	background: url(images/fline.png) 0 0;
}
div.dno{width: 770px;margin: auto;}
/*логитип с текстом внизу*/
div.logo{
	display :inline-block;
	font-size: 14px;
	color: white;
}
.p{/*текст*/
	display: inline-block;
	line-height: 5px;
	vertical-align: top;
	margin: 50px 0 0 10px;
}
.dno img{
	display: inline-block;
	margin-top:40px;
}
div.tel{
	display: inline-block;
	float: right;
	text-align: right;
	color: white;
	margin-top: 50px; 
	font-size: 14px;
	line-height: 5px;
}
.italic{font-style: italic;}
.big{font-size: 20px;}