
/*первая таблица*/
img{
	vertical-align: middle;
}
caption{
	font-size:40px;
	text-align:center;
	font-family: "Comic sans MS";
	margin: 10px;
	color: #f3cd26;
	text-shadow: 1px 1px 2px grey;
}	
table.one{
	border:1px solid #99FFCC;
	width: 45%;
	margin: auto;
	border-collapse: collapse;
	background: radial-gradient(white, #CCFFFF);
	font-family: Arial;
	margin-bottom: 50px;	
}
.one td {
	border:1px solid #99FFCC;
	padding: 5px;
	text-align: left;
}
.one th {
	border:1px solid #99FFCC;
	padding: 10px;
}
/*Вторая таблица*/
table.two{
	width: 1000px;
	text-align: left;
	margin: auto;
	font-family: Arial;
	border-collapse: collapse;
	background: #dedfde;
	font-size: 14pt;
}
.two th{
	border:1px solid #ff9a00;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
.two td{
	border:1px solid #ff9a00;
	padding: 10px;
	vertical-align: top;
}
.color{
	background:#efefef;
}
	
	